{% extends "_base.html" %}
{% block content %}


<div class="entries">
  <br>
  <br>
  <h2>View Songs:</h2>
  <div class="datagrid">
    <table class="table">
      <thead>
        <tr>
            <th width="75px"><strong>Requester</strong></th>
            <th width="400px"><strong>Title</strong></th>
            <th width="300px"><strong>Song URL</strong></th>
            <th width="10px"><strong>Delay</strong></th>
            <th width="100px"><strong>YouTube Key</strong></th>
        </tr>
      </thead>
        {% for song in songs %}
  <tr>
      <td>{{ song.requester }}</td>
    <td>{{ song.title }}</td>
      <td>{{ song.url }}</td>
      <td>{{ song.delay }}</td>
      <td>{{ song.youtube_key }}</td>
  </tr>
        {% endfor %}

    </table>
  </div>
</div>


{% endblock %}
