{% extends "_base.html" %}
{% block content %}

    <div class="entries">
        <br>
        <br>

        <h2>
            Requested Songs
            <a href="{{ url_for('song.add', event_id=event_id) }}"><button type="button" class="btn btn-primary pull-right">Add Song Request</button></a>
            <a href="{{ url_for('song.playrandom', event_id=event_id) }}"><button type="button" class="btn btn-default pull-right">Play Random Song</button></a>
        </h2>

        <div class="datagrid">

            {% if requests %}

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th width="15px"><strong>id</strong></th>
                        <th width="75px"><strong>Requester</strong></th>
                        <th width="400px"><strong>Title</strong></th>
                        <th width="300px"><strong>Song URL</strong></th>
                        <th width="10px"><strong>Delay</strong></th>
                        <th width="100px"><strong>YouTube Id</strong></th>
                        <th width="10px"><strong>Status</strong></th>
                        <th width="10px"><strong>Operations</strong></th>
                    </tr>
                    </thead>
                    {% for request in requests %}
                        <tr>
                            <td>{{ request.id }}</td>
                            <td>{{ request.requester }}</td>
                            <td>{{ request.song.title }}</td>
                            <td>{{ request.song.url }}</td>
                            <td>{{ request.delay }}</td>
                            <td>{{ request.song.youtube_id }}</td>
                            <td>
                                {% if request.song.completed %}
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                {% else %}
                                    {{ request.song.percent_complete }}
                                {% endif %}
                            </td>
                            <td>

                                <div class="row">
                                    <div class="col-xs-1">
                                        <a href="/songs/redownload/{{ request.id }}" title="Re-Download">
                                            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                    <div class="col-xs-1">
                                        <form action="{{ url_for('song.delete') }}" method="post">
                                            {{ form.id(value=request.id) }}
                                            <button type="submit">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </form>
                                    </div>

                                    {% if request.song.completed %}
                                        <div class="col-xs-1">
                                            <button onclick="openFunction{{ request.id }}()" title="Play">
                                                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                            </button>

                                            <script>
                                                function openFunction{{ request.id }}() {
                                                    window.open("/songs/playsong/{{ request.id }}");
                                                }
                                            </script>
                                        </div>
                                    {% endif %}
                                </div>

                            </td>

                        </tr>
                    {% endfor %}
                </table>

            {% else %}
                <h3><a href="{{ url_for('song.add', event_id=event_id) }}">No Song Requests found, add one</a></h3>
            {% endif %}

        </div>
    </div>


{% endblock %}
