{% extends '_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

    <header class="content-header">
        <h1>Add a Job to an Event</h1>
    </header>

    <br>


    <form class="form" role="form" method="post" action="">

        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}


        <div class="col-lg-4 col-sm-4">

            {{ wtf.form_field(form.name) }}
            <div class="form-group">
                {{ wtf.form_field(form.hour) }}
                {{ wtf.form_field(form.minute) }}
                {{ wtf.form_field(form.second) }}
                {{ wtf.form_field(form.weekdays_only) }}
            </div>

            <button class="btn btn-success" type="submit">Add Job!</button>
            <br><br>

        </div>

    </form>


{% endblock content %}
