{% extends "_base.html" %}

{% block content %}

    <div class="body-content">
        <div class="row">
            <h1>Welcome to Flask Wallboard Music!</h1>
        </div>

        <div class="entries">
            <br>
            <br>
            <h2>
                Events <a href="{{ url_for('event.add') }}"><button type="button" class="btn btn-primary pull-right">Add New Event</button></a>
            </h2>
            <div class="datagrid">

                {% if events %}

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th width="15px"><strong>id</strong></th>
                            <th width="100px"><strong>Event name</strong></th>
                            <th width="100px"><strong>Event Length</strong></th>
                            <th width="100px"><strong>Jobs</strong></th>
                            <th width="100px"><strong>Song Requests</strong></th>
                            <th width="100px"><strong>Operations</strong></th>

                        </tr>
                        </thead>
                        {% for event in events %}
                            <tr>
                                <td>{{ event.id }}</td>
                                <td>{{ event.name }}</td>
                                <td>{{ event.play_length }}</td>
                                <td><a href="{{ url_for('job.view', event_id=event.id) }}">Configure Jobs</a></td>
                                <td><a href="{{ url_for('song.view', event_id=event.id) }}">{{ event.name }} Song Requests</a></td>
                                <td>
                                    <div class="row">

                                        <div class="col-xs-1">
                                            <a href="{{ url_for('event.edit', event_id=event.id) }}">
                                                <button>
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                            </a>
                                        </div>
                                        <div class="col-xs-1">
                                            <form action="{{ url_for('event.delete') }}" method="post">
                                                {{ form.id(value=event.id) }}
                                                <button type="submit">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </form>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                    </table>

                {% else %}

                    <h3><a href="{{ url_for('event.add') }}">No events found, add one</a></h3>

                {% endif %}
            </div>
        </div>

    </div>

{% endblock %}
